

/*
body
{
	
}
*/
h1
{
	color: rgba(167, 21, 94, 0.993);
	background-image: url("logo.jpg");
	background-repeat: no-repeat;
	padding-top: 102px;
	text-shadow: 2px;
	font-style: oblique;
	background-size: 120px;
}
hr
{
	color: brown;
	border-width: 3px;
	margin-right: auto;
	margin-left: auto; 
}
table
{
	width: 100%;
	border: 1px;
}
